# ---- 本地编译产物 ----
build/
build-*/
**/build/
*.o
benchmark/grpc_echo/gen/   # protoc 生成代码
core
core.*
Testing/

# ---- Python 缓存 ----
__pycache__/
*.pyc
.venv/
.pytest_cache/

# ---- 内部测试----
test/
docs/

# ---- 内部调试脚本 ----
scripts/

# ---- 本地配置 ----
.env

# ---- IDE / 编辑器 ----
.vscode/
.idea/
*.swp
